PORT=8747
DATABASE_URI=mongodb+srv://wyattm:wyattmDBpassword!@cluster0.ux3hfxm.mongodb.net/cs314_chat
JWT_SECRET=wyatt_cs314_secret_key_change_this
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000

